<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list9">
        <ion-item class="item-avatar item-icon-right" id="menu-list-item8">
          <img src="img/kwR84mQS1KIpy3alZAPi_d36a58ec67c124c90a2dbb728ff20903.jpg">
          <h2>Name</h2>
          <i class="icon ion-ios-person"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 268px; height: 10px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="menu.welcomeToMUEAT()" menu-close="">Home
          <i class="icon ion-ios-home"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.restaurant()" menu-close="">Restuarent
          <i class="icon ion-android-menu"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item38" ui-sref="menu.yourOrdered()" menu-close="">Your order
          <i class="icon ion-ios-list"></i>
        </ion-item>
      </ion-list>
      <form id="menu-form14" class="list">
        <div class="spacer" style="width: 268px; height: 10px;"></div>
        <ion-toggle toggle-class="toggle-balanced" id="menu-toggle4">Logout</ion-toggle>
      </form>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>