<ion-view title="MLC" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="mLC-list6">
      <ion-item class="item-thumbnail-left" id="mLC-list-item13" ui-sref="menu.page9()">
        <img src="img/LSLqjv8RZmc88C0ocNcb_nnn.jpg">
        <h2>สมชายข้าวแกง</h2>
        <p>ร้านข้าวราดแกง</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mLC-list-item16" ui-sref="menu.page14()">
        <img src="img/oGvRbNiS66Tnsyg9DLGj_1380551092-Cover1620x-o.jpg">
        <h2>สามขาเส้นอร่อย</h2>
        <p>ร้านก๋วยเตี๋ยว</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mLC-list-item14" ui-sref="menu.page18()">
        <img src="img/6PO5N6YSzGbH9YZOPidg_Unknown.jpeg">
        <h2>ป้าแจ๋วจัดให้</h2>
        <p>ร้านส้มตำ</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mLC-list-item15" ui-sref="menu.page16()">
        <img src="img/JKAD2sqORbiobpDNlRML_juice-2.jpg">
        <h2>สุชาติขายน้ำ</h2>
        <p>ร้านน้ำปั่น</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mLC-list-item17" ui-sref="menu.page19()">
        <img src="img/CiXkWxXTfu3HSnnkWCTX_2258.jpg">
        <h2>ขวัญใจหวานเจี๊ยบ</h2>
        <p>ร้านผลไม้</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>