<ion-view title="MUEG" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="mUEG-list12">
      <ion-item class="item-thumbnail-left" id="mUEG-list-item30" ui-sref="menu.page20()">
        <img src="img/nTh170rfRq6XIyHdgXqC_f5-min.jpg">
        <h2>ชูศรีไก่ทอด</h2>
        <p>ร้านขายไก่ทอด</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUEG-list-item28" ui-sref="menu.page9()">
        <img src="img/pfI4rs10QWCwbvZTyNi9_238ced61e7294c23bd84bc4e96d6cf45.jpg">
        <h2>เรียงรายข้าวแกง</h2>
        <p>ร้านข้าวราดแกง</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUEG-list-item31" ui-sref="menu.page16()">
        <img src="img/me0iAAPT72auO0nnyQc4_20100805283_02.jpg">
        <h2>น้ำปั่นหรรษา</h2>
        <p>ร้านน้ำปั่น</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUEG-list-item29" ui-sref="menu.page14()">
        <img src="img/4Gx4C0R1mzZulylCzymw_--11.jpg">
        <h2>มานีมีเส้น</h2>
        <p>ร้านก๋วยเตี๋ยว</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUEG-list-item32" ui-sref="menu.page19()">
        <img src="img/SfPqX2YMRhmHj1ocB0x9_images-1.jpeg">
        <h2>ผลไม้</h2>
        <p>ร้านผลไม้</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>