<ion-view title="MUIC" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="mUIC-list10">
      <ion-item class="item-thumbnail-left" id="mUIC-list-item10" ui-sref="menu.page14()">
        <img src="img/lCMr08TQGaETZ80cAeBw_-----300-500--10.jpg">
        <h2>เส้นสด</h2>
        <p>ร้านก๋วยเตี๋ยว</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUIC-list-item12" ui-sref="menu.page15()">
        <img src="img/j4ltTTdMQwXdu46J4xeY_1374596423-3-o.jpg">
        <h2>สมหญิงข้าว</h2>
        <p>ร้านข้าวหมูแดง</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUIC-list-item9" ui-sref="menu.page20()">
        <img src="img/aVYwD1vSQ2KN8G7JnfQI_images.jpeg">
        <h2>ไก่ทอด</h2>
        <p>ร้านไก่ทอด</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUIC-list-item18" ui-sref="menu.page16()">
        <img src="img/vNcCgEc7TZWtuutebU8Y_----6.jpg">
        <h2>น้องเนยขายน้ำ</h2>
        <p>ร้านน้ำปั่น</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUIC-list-item19" ui-sref="menu.page19()">
        <img src="img/FjcS3sDlQUqtoVL6QjCE_2.jpg">
        <h2>สิบมือบอกว่า</h2>
        <p>ร้านผลไม้</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>