<ion-view title="MUMS" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="mUMS-list11">
      <ion-item class="item-thumbnail-left" id="mUMS-list-item24" ui-sref="menu.page15()">
        <img src="img/qmCXVzlzTMy70CEYCPN9_1440553775-IMG5594-o.jpg">
        <h2>สิบสามหรรษา</h2>
        <p>ร้านข้าวขาหมู</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUMS-list-item23" ui-sref="menu.page9()">
        <img src="img/xDP1MkYsSq6AiDLFvHUk_thaifood9.jpg">
        <h2>ข้าวแกงพันปี</h2>
        <p>ร้านข้าวราดแกง</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUMS-list-item25" ui-sref="menu.page20()">
        <img src="img/dXOUJbFuTR6BtnFhc2ZY_1410349216-pantiptalk-o.jpg">
        <h2>ป้าแสน</h2>
        <p>ร้านไก่ทอด</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUMS-list-item27" ui-sref="menu.page19()">
        <img src="img/8Eaj3AwQSy3ykMDXGz0Q_20141216_3_1418716764_818260.jpg">
        <h2>สามเศียรผลไม้</h2>
        <p>ร้านผลไม้</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mUMS-list-item26" ui-sref="menu.page16()">
        <img src="img/Qa3VyILtSxK48aLbdSHk_41842aa4585b464ea124d7af4c2efa8d.jpg">
        <h2>ชาบาบาน</h2>
        <p>ร้านน้ำ</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>