<ion-view title="Ordered menu" id="page21">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div>
      <img src="img/qrSOvFb3Qk67ht4R8YSq_FvRJlz.jpg" style="display: block; width: 60%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="orderedMenu-markdown24" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Name
        <strong>Admin</strong>
      </p>
    </div>
    <div id="orderedMenu-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Receive order at
        <strong>12:00 AM</strong>
      </p>
    </div>
    <div id="orderedMenu-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Order at
        <strong>MLC</strong>
      </p>
    </div>
    <div id="orderedMenu-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Your order
        <strong>กระเพราไก่</strong>
      </p>
    </div>
    <div id="orderedMenu-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Total price =
        <strong>40 </strong> bath</p>
    </div>
    <a ui-sref="menu.yourOrdered()" id="orderedMenu-button14" class="button button-calm button-block">Order</a>
  </ion-content>
</ion-view>