<ion-view title="ร้านขาหมู" id="page15">
  <ion-content padding="true" class="has-header">
    <p>

    </p>
    <div id="page15-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">
        <strong>รายการอาหาร</strong>
      </p>
    </div>
    <form id="page15-form15" class="list">
      <ion-checkbox id="page15-checkbox23"ng-model="a"value="10">ข้าวขาหมู 40 บาท</ion-checkbox>
      <ion-checkbox id="page15-checkbox24"ng-model="b"value="10">ข้าวหมูแดง 40 บาท</ion-checkbox>
      <ion-checkbox id="page15-checkbox25"ng-model="c"value="10">ข้าวมันไก่ 40 บาท</ion-checkbox>
      <ion-checkbox id="page15-checkbox46"ng-model="d"value="10">บะหมี่หมูแดง 40 บาท</ion-checkbox>
    </form>
    <form id="page15-form16" class="list">
      <div id="page15-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong> ราคา = {{ (a+b+c+d)*40 }} บาท </strong>
        </p>
      </div>
      <a ui-sref="menu.orderedMenu" id="page15-button9" style="font-weight:600;" class="button button-calm  button-block">สั่งอาหาร</a>
    </form>
  </ion-content>
</ion-view>