<ion-view title="ก๋วยเตี๋ยว" id="page14">
  <ion-content padding="true" class="has-header">
    <p>

    </p>
    <div id="page14-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">
        <strong>เส้น</strong>
      </p>
    </div>
    <form id="page14-form12" class="list">
      <ion-checkbox id="page14-checkbox12"ng-model="a"value="10">เล็ก 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox13"ng-model="b"value="10">ใหญ่ 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox14"ng-model="c"value="10">บะหมี่ 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox45"ng-model="d"value="10">หมี่ 10 บาท</ion-checkbox>
    </form>
    <div id="page14-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">
        <strong>เนื้อสัตว์</strong>
      </p>
    </div>
    <form id="page14-form13" class="list">
      <ion-checkbox id="page14-checkbox15"ng-model="e"value="10">ไก่ 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox16"ng-model="f"value="10">หมู 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox17"ng-model="g"value="10">เนื้อ 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox18"ng-model="h"value="10">เป็ด 10 บาท</ion-checkbox>
      <div id="page14-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:17px;">
          <strong>น้ำ</strong>
        </p>
      </div>
      <ion-checkbox id="page14-checkbox19"ng-model="i"value="10">น้ำใส 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox20"ng-model="j"value="10">น้ำตก 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox21"ng-model="k"value="10">ต้มยำ 10 บาท</ion-checkbox>
      <ion-checkbox id="page14-checkbox22"ng-model="l"value="10">เย็นตาโฟ 10 บาท</ion-checkbox>
      <div id="page14-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong> ราคา = {{ (a+b+c+d+e+f+g+h+i+j+k+l)*10 }} บาท </strong>
        </p>
      </div>
      <a ui-sref="menu.orderedMenu" id="page14-button8" style="font-weight:600;" class="button button-calm  button-block">สั่งอาหาร</a>
    </form>
  </ion-content>
</ion-view>