<ion-view title="Restaurant" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="restaurant-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="restaurant-slide27" style="background:url(&quot;img/OuW02EFQSlq4lZecGNOK_Picture4.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="restaurant-slide28" style="background:url(&quot;img/GN30R4gRuqRP0G09tgwz_Picture3.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="restaurant-slide29" style="background:url(&quot;img/698usH0SQC4joO637vMg_Picture5.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <form id="restaurant-form10" class="list">
      <ion-item class="item-icon-left item-icon-right dark" id="restaurant-list-item11">
        <i class="icon ion-checkmark"></i>Selecting restaurant
        <i class="icon ion-android-happy"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="restaurant-list-item4" ui-sref="menu.mLC()">
        <img src="img/KdleayIS4RbkAsCGE6fw_1422805863-043-o.jpg">
        <h2>MLC</h2>
        <p>(MU Cafeteria)</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="restaurant-list-item20" ui-sref="menu.mUIC()">
        <img src="img/WEwzzzsUSpaTTmlMdxoV_muic.jpg">
        <h2>MUIC</h2>
        <p>(International collage)</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="restaurant-list-item21" ui-sref="menu.mUMS()">
        <img src="img/ktvfu9ESPOzKmYmwzxUp_music.jpg">
        <h2>MUMS</h2>
        <p>(Music Square)</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="restaurant-list-item22" ui-sref="menu.mUEG()">
        <img src="img/QqxuoWUxQlOUj6ZGlUQA_aguide40.jpg">
        <h2>MUEG</h2>
        <p>(Engineering)</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>