<ion-view title="Your ordered" id="page22">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div>
      <img src="img/RslXjfaRSj6H4ULF8ijU_FvRJlz.jpg" style="display: block; width: 60%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="yourOrdered-markdown31" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Name
        <strong>Admin</strong>
      </p>
    </div>
    <div id="yourOrdered-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Your order is successful!!</strong>
      </p>
    </div>
    <div id="yourOrdered-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Order at
        <strong>MLC</strong>
      </p>
    </div>
    <div id="yourOrdered-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Your will receive order at
        <strong>12:00 AM</strong>
      </p>
    </div>
    <a ui-sref="menu.restaurant" id="yourOrdered-button15" class="button button-balanced button-block">Compleate!!</a>
  </ion-content>
</ion-view>